@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

$loader_size: 3em;

.loader {
    position: relative;
    font-size: 1rem;
    width: $loader_size;
    height: $loader_size;

    &.small {
        font-size: 0.5rem;
    }

    &.large {
        font-size: 2rem;
    }

    &.primary {
        .path {
            stroke: $primary;
        }
    }

    &.secondary {
        .path {
            stroke: $secondary;
        }
    }

    .circular {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: loader-rotate 2s linear infinite;
        transform-origin: center center;
    }

    .path {
        stroke-width: 4;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke: lighten($grey, 40%);
        animation: loader-dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
    }
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
