@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.settings {
    width: 40rem;

    .segment {
        padding: 1rem 2rem;
        border-bottom-width: 0;
    }

    .segmentLast {
        border-bottom-width: 1px;
    }

    .segmentIndented {
        padding: 1rem 2rem;
        margin-top: 1rem;
    }

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {

        }
    }
}
