@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.settings {
    width: 40rem;

    .segment {
        padding: 1rem 2rem;
    }

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {

        }
    }
}
