$black: #000000;
$white: #ffffff;
$yellow: #FFDB4D;
$green: #1bc47d;
$blue: #1877f2;
$red: #F04D42;
$grey: #999999;

$primary: $blue;
$secondary: $green;
$success: $green;
$error: $red;

$text_color: $black;
