@import "./variables/colors.module";
@import "./variables/shared.module";

@import "./fonts/fonts.module";
@import "./html-body/html-body.module";
@import "./others/typography.module";
@import "./others/scrollbar.module";

:global .container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 120rem;
}
