*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.4;
    color: $text_color;
}
