@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.homePresentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-bottom: 2.8rem;
    }

    .settings {
        margin-top: 1rem;
    }
}
