@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg_color;

    &.theme-dark {
        background-color: $bg_color_dark;
        color: $text_color_dark;
    }

    .header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }

    .content {
        margin-top: 9rem;
    }
}
