@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.header {
    box-shadow: 0 0 2rem rgba($grey, 0.2);
    background-color: $white;
    border: 1px solid $white;

    &.theme-dark {
        background-color: $bg_color_dark;
        border-color: lighten($grey_dark, 5%);
        box-shadow: none;
    }

    .menu {
        display: flex;
        width: calc(100% + 4rem);
        margin: 0 -2rem;
    }

    .link {
        padding: 2rem 2rem;
        transition: $transition;
        font-weight: 600;

        &.is_active {
            color: $blue;
        }

        &, &:active {
            text-decoration: none;
            color: $text_color;
        }

        &:hover {

        }
    }

    &.theme-dark .link {
        &.is_active {
            color: $text_color_dark;
        }

        &, &:active {
            color: lighten($grey_dark, 35%);
        }
    }
}
