@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.header {
    box-shadow: 0 0 2rem rgba($grey_dark_100, 0.2);
    background-color: #fff;

    .menu {
        display: flex;
        border-left: 1px solid $grey_light_30;
    }

    .link {
        padding: 2rem 2rem;
        transition: $transition;
        font-weight: 600;

        &.is_active {
            background-color: $grey_dark_50;
            color: #fff;
        }

        &, &:active {
            color: $text_c;
            text-decoration: none;
        }

        &:hover {
            color: $text_c;
        }
    }
}
