h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    font-weight: 700;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    margin: 0;
}

span {
    margin: 0;
}

a {
    text-decoration: none;
    color: $blue;
}
