.slider {
    position: relative;
}

.slide {
    padding-right: 5px;

    &.slideOdd {
        .content {
            width: 357px;
        }
    }

    .content {
        width: 250px;
        height: 370px;
        background-position: center center;
        background-size: cover;
        border-radius: 4px;
        position: relative;

        span {
            position: absolute;
            top: 0;
            left: 0;
            color: #ffffff;
            padding: 1rem;
        }
    }
}
