name: Build and Deploy
on:
    push:
        branches:
            - master
jobs:
    install-and-test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [12.x]
        steps:
            - uses: actions/checkout@master
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@master
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install and Test
              run: |
                  npm install
                  npm run test
              env:
                  CI: true
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@master
            -   name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@master
                with:
                    node-version: ${{ matrix.node-version }}
            -   name: Install and Test
                run: |
                    npm install
                    npm run build
                env:
                    CI: true

    storybook-build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@master
            -   name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@master
                with:
                    node-version: ${{ matrix.node-version }}
            -   name: Install and Test
                run: |
                    npm install
                    npm run build-storybook
                env:
                    CI: true
